/ {
    zephyr,user {
        /* D2 is P0.28 on the XIAO BLE. DRDY is active low. */
        drdy-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
        
        /* Move CS to here for manual GPIO control: D1 is P0.03 */
        cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
    };
};

/* Disable the LED that steals P0.26 */
&led0 {
    status = "disabled";
};

/* Disable I2C that steals P0.04 */
&i2c1 {
    status = "disabled";
};

/* Disable the default Seeed SPI mapping */
&xiao_spi {
    status = "disabled";
};

&pinctrl {
    /* Correct mapping for Seeed XIAO BLE SPI (D8, D9, D10) */
    spi2_default: spi2_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,   /* D8  -> P1.13 */
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>,  /* D10 -> P1.15 */
                    <NRF_PSEL(SPIM_MISO, 1, 14)>;  /* D9  -> P1.14 */
        };
    };

    spi2_sleep: spi2_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>,
                    <NRF_PSEL(SPIM_MISO, 1, 14)>;
            low-power-enable;
        };
    };
};

/* Use the corrected pinctrl and REMOVE cs-gpios from hardware spi */
&spi2 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi2_default>;
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";

    ads1220: spi-device@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <1000000>; /* 1 MHz */
    };
};