/ {
    zephyr,user {
        /* DRDY is on D2 -> P0.28. Active Low. */
        drdy-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
    };
};

&xiao_spi {
    status = "okay";
    /* CS is on D1 -> P0.03. Active Low. */
    cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;

    ads1220: ads1220@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        /* Lower to 100000 if you experience hardware timeouts */
        spi-max-frequency = <1000000>; 
    };
};