&i2c1 {
    status = "okay";

    ads1115: ads1115@48 {
        compatible = "ti,ads1115";
        reg = <0x48>;
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;

        /* Channel 0: Typical for Clinical Sensor Input */
        channel@0 {
            reg = <0>;
            zephyr,gain = "ADC_GAIN_1";      /* ±4.096V range */
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <16>;
        };

        /* Placeholder Channels 1-3 */
        channel@1 { reg = <1>; zephyr,gain = "ADC_GAIN_1"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>; zephyr,resolution = <16>; };
        channel@2 { reg = <2>; zephyr,gain = "ADC_GAIN_1"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>; zephyr,resolution = <16>; };
        channel@3 { reg = <3>; zephyr,gain = "ADC_GAIN_1"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>; zephyr,resolution = <16>; };
    };
};

/ {
    /* This allows you to use 'DEVICE_DT_GET(DT_NODELABEL(ads1115))' in your C code */
    zephyr,user {
        io-channels = <&ads1115 0>;
    };
};